{% extends "main.html" %}


{% block topSearch %}

{% endblock %}
{% block mGrid %}
<table class="table table-bordered">


    <tbody>
        <!--tr>
            <th colspan="6">
                <div >设置信息</div>
            </th>
        </tr>
        <tr>
        </tr>
        <tr>
            <td width="100">
                <label >会员开启状态:</label>
            </td>
            <td width="250">
                <input type="text" class="form-control"  name="status" value="{{item.status}}" readonly="readonly" />
            </td>


        </tr>
        <tr>
            <td width="100">
                <label>会员价格:</label>
            </td>
            <td >
                <input type="text" class="form-control"  name="secret" value="{{item.secret}}" readonly="readonly" />
            </td>

        </tr>

        <tr>
            <td width="100">
                <label>token:</label>
            </td>
            <td width="250">
                <input type="text" class="form-control"  name="wxtoken" value="{{item.wxtoken}}" readonly="readonly" />
                <span style="color:red;">用于接收用户点击、回复、互动及给用户推送消息，没有这方面的需求请留空，不用填写</span>
            </td>


        </tr>



        <tr>
            <td width="100">
                <label for="">微信支付商户号:</label>
            </td>
            <td width="250">
                <input type="text" class="form-control"  name="mchid" value="{{item.mchid}}" readonly="readonly" />
            </td>


        </tr>

        <tr>
            <td width="100">
                <label for="">微信支付商户秘钥:</label>
            </td>
            <td width="250">
                <input type="text" class="form-control"  name="mchkey" value="{{item.mchkey}}" readonly="readonly" />
            </td>


        </tr>

        <tr>


                <td colspan="2">

                <button type="button" class="btn btn-success btn-sm" onclick="main_update({{item.usr_id}})"><i class="fa fa-edit"></i>设置</button>


            </td>


        </tr>



        <tr>
            <td width="100">
                <label >支付证书文件:</label>
            </td>
            <td width="250">
                <input type="file" class="form-control"  name="danhao" value="" readonly="readonly" />
            </td>


        </tr>

        <tr>
            <th colspan="6">
                <div id="form2">Token信息</div>
            </th>
        </tr>
        <tr>
            <td width="100">
                <label for="">accesstoken:</label>
            </td>
            <td width="250">
                <input type="text" class="form-control"  name="acctoken" value="{{item.token}}" readonly="readonly" />
            </td>

        </tr>

        <tr>
            <td width="100">
                <label for="">jsTicket:</label>
            </td>
            <td width="250">
                <input type="text" class="form-control"  name="danhao" value="" readonly="readonly" />
            </td>

        </tr>

        <tr>
            <td width="100">
                <label for="">添加时间:</label>
            </td>
            <td width="250">
                <input type="text" class="form-control"  name="ctime" value="{{item.create_date}}" readonly="readonly" />
            </td>

        </tr>

        <tr>
            <td width="100">
                <label for="">更新时间:</label>
            </td>
            <td width="250">
                <input type="text" class="form-control"  name="danhao" value="" readonly="readonly" />
            </td>

        </tr>

        <tr>
            <td width="100">
                <label for="">Token刷新时间:</label>
            </td>
            <td width="250">
                <input type="text" class="form-control"  name="danhao" value="" readonly="readonly" />
            </td>

        </tr>

        <tr>
            <td colspan="2">
                <button type="button" class="btn btn-success btn-sm" onclick="main1()"><i class="fa fa-plus"></i> 小程序获取二维码</button>
            </td>
        </tr-->

    </tbody>
</table>
{% endblock %}


